<div class="row justify-content-center">
  <div class="form-group mt-3 col-md-5" style="max-width: 300px">
    <form action="/filter" method="GET" class="mt-3">
      <select class="form-select" name="category" id="category-filter" onchange="submit()">
        <option value="all" selected>全部類別</option>
        <option value="housewares" {{#isEqual "housewares" categoryFilter}} selected {{/isEqual}}>家居物業</option>
        <option value="transportation" {{#isEqual "transportation" categoryFilter}} selected {{/isEqual}}>交通出行</option>
        <option value="entertainment" {{#isEqual "entertainment" categoryFilter}} selected {{/isEqual}}>休閒娛樂</option>
        <option value="food" {{#isEqual "food" categoryFilter}} selected {{/isEqual}}>餐飲食品</option>
        <option value="others" {{#isEqual "others" categoryFilter}} selected {{/isEqual}}>其他</option>
      </select>
    </form>
  </div>

  <div class="form-group mt-3 col-md-5" style="max-width: 300px">
    <form action="/filter" method="GET" class="mt-3">
      <select class="form-select" name="month" id="month-filter" onchange="submit()">
        <option value="all" selected>所有月份</option>
        <option value="01" {{#isEqual "01" monthFilter}} selected {{/isEqual}}>January</option>
        <option value="02" {{#isEqual "02" monthFilter}} selected {{/isEqual}}>February</option>
        <option value="03" {{#isEqual "03" monthFilter}} selected {{/isEqual}}>March</option>
        <option value="04" {{#isEqual "04" monthFilter}} selected {{/isEqual}}>April</option>
        <option value="05" {{#isEqual "05" monthFilter}} selected {{/isEqual}}>May</option>
        <option value="06" {{#isEqual "06" monthFilter}} selected {{/isEqual}}>June</option>
        <option value="07" {{#isEqual "07" monthFilter}} selected {{/isEqual}}>July</option>
        <option value="08" {{#isEqual "08" monthFilter}} selected {{/isEqual}}>August</option>
        <option value="09" {{#isEqual "09" monthFilter}} selected {{/isEqual}}>September</option>
        <option value="10" {{#isEqual "10" monthFilter}} selected {{/isEqual}}>October</option>
        <option value="11" {{#isEqual "11" monthFilter}} selected {{/isEqual}}>November</option>
        <option value="12" {{#isEqual "12" monthFilter}} selected {{/isEqual}}>December</option>
      </select>
    </form>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="row col-md-8 col-lg-6 col-xl-5 justify-content-around">
      <div class="col-auto" style="font-size: 25px;">總金額：</div>
      <div class="col-auto text-end text-danger" style="font-size: 100px;">{{totalAmount}}</div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <ul class="list-group col-md-10 col-xs-12" style="max-width: 560px">
    {{#each records}}
      <div class="list-group-item row">
        <div class="d-flex justify-content-around">
          <div class="col-1">
            <i class="fas {{this.category}} fa-3x"></i>
          </div>
          <div class="col-4 d-flex">
            <div class="row col-8">
              <p>{{this.name}}</pd>
              <p>{{showDate this.date}}</p>  
            </div>
            <p class="d-flex align-items-center justify-content-center">{{this.merchant}}</p>
          </div>
            <p class="d-flex align-items-center">$ {{this.amount}}</p>         
          <div class="col-3 d-flex align-items-center justify-content-around">
            <a href="/records/{{this._id}}/edit" class="btn btn-info">Edit</a>
            <form action="./records/{{this._id}}?_method=DELETE" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </ul>
</div>

<div class="row justify-content-center mt-3">
  <a href="./records/new" class="btn btn-success btn-lg col-5" style="max-width: 290px;">新增支出</a>
</div>